
body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    /* text-align: center; */
}

.firstPage-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;  
}

.background-img{
    opacity: 0.5;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}

.row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
    justify-content: space-around;
    /* height: 35vh;   */
}

.row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* width: 15vw;
    height: 35vh;  */
}

.inner-row1 {

    /* padding: 1em; */
}

.inner-row2 {

    padding: 1em;
}

button{
    padding: 1.3em;
    background-color: lightseagreen;
    font-size: 2em;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 30%;
    margin-right: 30%;    
}

button:hover{
    background-color: rgb(23, 133, 127);
    color: yellow;
}


.menu-detail{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.selected-menu{
    padding-left: 2em;
}